.shopslider {
  width: 100%;
  max-width: 1920px;
  background-color: #181d20;
  //   height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  &__conteiner {
    display: flex;
    
    // justify-content: space-between;
    flex-direction: column;
    width: 100%;
    // margin: 0 auto;
    padding-top: 153px;

    &__title {
      width: 100%;
      max-width: 620px;
      box-sizing: border-box;
      margin-bottom: 77px;
      padding-left: 100px;
      padding-right: 100px;
      &__main {
        font-family: "Roboto Condensed";
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 54px;
        color: #fff;
      }
      &__submain {
        font-family: "Museo Sans Cyrl";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        color: #fff;
      }
    }

    &__row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 100px;
    

      .item {
        width: 272px;
        height: 580px;
        box-sizing: border-box;
        &__img {
          margin: 0 auto;
          height: 198px;
          width: 272px;
          box-sizing: border-box;
          background-position: center;
          background-size: cover;
        }

        .img1 {
          background-image: url(/img/item1.png);
        }
        .img2 {
          background-image: url(/img/item2.png);
        }
        .img3 {
          background-image: url(/img/item3.png);
        }
        .img4 {
          background-image: url(/img/item4.png);
        }

        &__text {
          &__title {
            font-family: "Roboto Condensed";
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
            color: #fff;
          }
          &__subtitle {
            font-family: "Museo Sans Cyrl";
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 28px;
            display: block;
            color: #fff;
          }

          &__price {
            display: flex;
            justify-content: space-between;
            max-width: 210px;

            &__current {
              font-family: "Museo Sans Cyrl";
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              line-height: 24px;
              color: white;
            }

            &__irrelevant {
              font-family: "Museo Sans Cyrl";
              font-style: normal;
              font-weight: 300;
              font-size: 20px;
              line-height: 24px;
              color: #afafaf;
            }
          }
        }

        &__btnbuy {
          box-sizing: border-box;
          width: 272px;
          height: 54px;
          background-color: #181d20;
          border-radius: 5px;
          border: 1px solid #fdc400;
          color: white;
          font-family: "Museo Sans Cyrl";
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 28px;
          transition: all 500ms ease;
        }
        &__btnbuy:hover {
          background-color: #fdc400;
          color: black;
        }
        &__btnbuy:focus {
          background-color: #fdc400;
          color: black;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .shopslider {
    &__conteiner {
      align-items: center;
      padding-top: 50px;
      &__row {
        padding: 0 100px 0 100px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .shopslider {
    &__conteiner {
      &__row {
        padding: 0 50px 0 50px;
      }
      &__title {
        padding: 0 50px 0 50px;
      }
    }
  }
}
@media screen and (max-width: 660px) {
  .shopslider {
    &__conteiner {
      padding-top: 20px;
      &__row {
        justify-content: center;
      }
    }
  }
}
@media screen and (max-width: 350px) {
  .shopslider {
    &__conteiner {
      padding-top: 5px;
      &__row {
        padding: 0 10px 0 10px;
      }
      &__title {
        padding: 0 10px 0 10px;
        &__main {
          font-size: 30px;
          line-height: 54px;
        }
      }
    }
  }
}
